.container {
  text-align: center;
}

label {
  margin-left: 40px;
}
input {
  border-radius: 5px;
  padding: 8px;
  margin-left: 40px;
  margin-top: 10px;
}

button {
  background-color: #6fc6c7;
  height: 40px;
  border-radius: 8px;
  color: black;
  box-shadow: 5px 5px 8px 2px #4e524f;
  padding: 12px 10px 12px;
  margin-left: 8px;
  margin-top: 20px;
}
